html {
    //font-family: 'Poppins', sans-serif;
    //font-weight: 400;
    color: #334154;
}

header {
    background: rgb(8,47,73);
    background: linear-gradient(90deg, #082F49 0%, #0C4A6E 100%);
    /*background: linear-gradient(90deg, rgba(12,74,110,1) 0%, rgba(8,47,73,1) 100%);*/
}

main p {
    margin-bottom: .5rem;
}

//.main-nav {
//    z-index: 999;
//}
