
.orange-swipe {
    border: none;
    border-top-width: 2px;
    border-top-style: solid;
    border-image: linear-gradient(to right, transparent, #e06222, transparent) 1;
}

.red-swipe {
    border: none;
    border-top-width: 2px;
    border-top-style: solid;
    border-image: linear-gradient(to right, transparent, #b91c1c, transparent) 1;
}

.blue-swipe {
    border: none;
    border-top-width: 2px;
    border-top-style: solid;
    border-image: linear-gradient(to right, transparent, #0369a1, transparent) 1;
}

.header-layer {
    background-image: url("/resources/img/wcec-crest-blue-2.webp");
    background-position: right;
    background-repeat: no-repeat;
}

.image-banner {
    background-size: cover;
    background-position: center center;
}

.banner-home {
    //background-image: url('/resources/img/banners/wcec-banner.webp');
    //background-image: url('/resources/img/banners/officers3.webp');
    background-image: url('/resources/img/banners/WCEC_Installation_19-04-24.webp');
}

.banner-membership {
    background-image: url('/resources/img/banners/membership.png');
}

.banner-supporting {
    background-image: url('/resources/img/banners/teaching-2.webp'); // https://pixabay.com/photos/teacher-learning-school-teaching-4784916/
}

.banner-hall {
    background-image: url('/resources/img/banners/armourers-hall-2.webp'); // https://commons.wikimedia.org/wiki/File:Armourers%27_and_Brasiers%27_Hall,_London_1.jpg
}

.banner-about {
    background-image: url('/resources/img/banners/wcec-certificates.webp'); // old site
}

.footer-inner {
    background: rgb(10,58,91);
}

@media(min-width: 1280px) {
    .footer-inner {
        background: radial-gradient(circle, rgba(10,58,91,1) 0%, rgba(8,47,73,1) 50%);
    }
}


//@media (min-width: 1200px) {
//    .page-title.over-banner-image {
//        margin-top: -250px;
//        position: absolute;
//        background: rgba(255,255,255,0.7);
//        padding: 15px;
//        font-size: 4rem;
//        z-index: 10;
//    }
//}

